body {
  
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
  background: #4184bf;
  align-items: center;
}

.item {
  background: rgb(113, 29, 29);
  color: white;
  font-size: 24px;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  width: 150px;
}

/* Дополнительные варианты flex:
   flex-direction: column;
   justify-content: space-around;
   flex-wrap: wrap;
*/